@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  /* overflow: hidden; */
  background: #292929;
}
#click{
  display: none;
}
label{
  position: absolute;
  right: 30px;
  bottom: 20px;
  height: 55px;
  width: 55px;
  background: -webkit-linear-gradient(left, #000000, #252525);
  text-align: center;
  line-height: 55px;
  border-radius: 50px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
label i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}
label i.fas{
  opacity: 0;
  pointer-events: none;
}
#click:checked ~ label i.fas{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) rotate(180deg);
}
#click:checked ~ label i.fab{
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) rotate(180deg);
}
.wrapper{
  position: absolute;
  right: 30px;
  bottom: 0px;
  width: 400px;
  /* min-width: 400px;
  max-width: 400px; */
  background: rgb(255, 255, 255);
  /* background-image: url('https://i.pinimg.com/originals/8f/b4/59/8fb4595307a2ad198fff92899d69ccb7.jpg'); */
  
  border-radius: 15px 15px 10px 10px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
#click:checked ~ .wrapper{
  opacity: 1;
  bottom: 90px;
  pointer-events: auto;
}

/* bot header */
#chatDetails {
    border-radius: 10px 10px 0px 0px;
    /* height: 94px; */
    /* overflow: visible; */
    padding: 15px 20px;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    font-size: 15px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px;
    z-index: 999999;
    position: relative;
}

#chatDetails img {
    border-radius: 20px;
    width: 35px;
    height: 35px;
    margin: 5px 15px 0 0;
    object-fit: cover;
    float: left;
}

#chatDetails .title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

#chatDetails .sub-title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(255, 255, 255);
    font-size: 13px;
}

/* chat bot body - bot messages - user messages */
#chatBoxMainContainer.message-icons.live-chat {
    overflow: scroll;
    padding: 10px 20px 30px 5px;
}

/* .message-icons.live-chat .from-them.first {
    background-image: none;
} */

.message-icons.live-chat .from-them {
    padding-left: 60px;
    float: left;
    margin-right: 0;
}

/* .message-icons .from-them {
    padding-left: 70px;
    float: left;
    margin-right: 120px;
} */

.chat-message {
    position: relative;
}

.message-icons.live-chat .from-them.new .from-icon {
    background-image: url(https://cdn.yellowmessenger.com/6z2kqCtJ8pOr1611815647456.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 10px;
    bottom: 5px;
    border-radius: 30px;
    /* border: 0.5px solid rgb(212, 212, 212); */
    width: 35px;
    height: 35px;
    background-size: 35px;
    display: inline-block;
}

/* bot message */
.from-them div {
    position: relative;
    float: left;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 5px;
    text-align: left;
    margin-right: 20px;
    -webkit-font-smoothing: antialiased;
    min-height: 20px;
    max-width: 100%;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    color: rgb(38, 50, 56);
    background: rgb(230, 232, 234);
    border: 1px solid rgb(230, 232, 234);
    display: -webkit-box;
    padding: 8px 14px;
    border-radius: 10px;
    line-height: 19px;
    min-width: 138px;
    word-break: break-word;
}

.timestamp-bot {
    font-size: 10px;
    padding: 0px 0px 8px 65px;
    color: rgb(102, 102, 102);
}

#chatBoxMainContainer button.option {
    padding: 8px 12px;
    border: 1px solid rgb(34, 47, 49);
    border-radius: 20px;
    color: rgb(34, 47, 49);
    margin: 5px 8px 10px 0px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.438);
    font-size: 14px;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: botplatform-font, "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    width: 200px;
}

#chatBoxMainContainer button.option:hover{
    background: rgb(243, 243, 243); 
}

.message-icons.live-chat #chatOptions{
    padding-left: 60px !important;
    padding-right: 0;
}

/* user reply */
.from-me div {
    position: relative;
    background: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: left;
    margin-left: 20px;
    -webkit-font-smoothing: antialiased;
    min-width: 30px;
    max-width: 80%;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    display: block;
    padding: 8px 14px;
    border-radius: 10px;
    float: right;
    line-height: 19px;
    word-break: break-word;
}

/* ......................... */


.send-input .typing-area{
    padding: 18px 10px;
    display: flex;
    justify-content: space-between;
}

.typing-area input{
    height: 45px;
    width: calc(100% - 58px);
    font-size:17px;
    border:1px solid #ccc;
    padding: 0 13px;
    border-radius: 10px 0 0 10px;
    outline: none;
    font-family: botplatform-font, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
}

.typing-area button{
    z-index: 99999;
    width: 55px;
    border:none;
    outline:none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 19px;
    cursor: pointer;
    border-radius:0 10px 10px 0 ;
    float: right;

}

.powerd-by {
    border-top: 1px solid rgba(172, 172, 172, 0.246);
    /* background-color: #f9f9f9; */
    padding-top: 5px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    /* opacity: 0.5; */
}

.powerd-by p{
    font-size: 12px;
    font-weight: 100;
    padding: 0px 10px 2px 15px ;
    color: #ababab !important;
}

.powerd-by p span{
    font-weight: 500;
    /* color: rgba(0, 0, 0, 0.5); */
    color: #959595 !important;
    text-shadow: 0 2px 0 rgb(255 255 255);
    /* font-weight: 900; */
}

.powerd-by button{
    font-size: 14px;
    margin-right:10px ;
    padding: 0px 10px 2px;
    border: none;
    border-radius: 50%;
    background-color: ghostwhite;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    color: rgba(0, 0, 0, 0.5);
}


.powerd-by button:hover{
    color: #000000;
    opacity: 1;
}

