/* .chat-container-box{
  margin: 5px 1px 0px 5px;
} */

.chat-container {
    /* height: calc(736px - 195px - 0px - 85px);   */
    width: var(--width);
    height: var(--height);
    /* background-image: url("../img/ym.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    background: #fff;
    overflow: hidden;
    /* display: flex; */
    /* flex-direction: column; */
    /* opacity: 0.5; */

    /* height: calc(100vh - 195px); */

    /* padding: 10px 0px 5px 20px; */
  }
  
 