@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

.widget {
  overflow: hidden;
  display: block;
  background: none;
  position: absolute;
  border-radius: 50%;
  right: 40px;
  bottom: 30px;
  height: 70px;
  width: 70px;
  z-index: 99999;
  box-shadow: 0 5px 40px rgba(0,0,0,.5)!important;
  cursor: pointer;
}

.widget-icon {
  background: none;
  height: 70px;
  width: 70px;
  padding: 0;
  vertical-align: middle;
  border-style: none;
  /* border-radius: 50%; */
}

/* #click{
  display: none;
  background-color: brown;
} */


/* label{
  position: absolute;
  right: 30px;
  bottom: 20px;
  height: 50px;
  width: 50px;
  background: -webkit-linear-gradient(left, #000000, #252525);
  text-align: center;
  line-height: 55px;
  border: 1px solid red;
  border-radius: 50px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
} */
/* label i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}
label i.fas{
  opacity: 0;
  pointer-events: none;
}
#click:checked ~ label i.fas{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) rotate(180deg);
}
#click:checked ~ label i.fab{
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) rotate(180deg);
} */
