.bot-footer {
  display: flex;
  flex-direction: column;
}

.powered-by-in-container {
  background-color: #ffffff;
  padding: 2px 5px;
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
}

.powered-by-in-container span {
  margin-right: 5px;
  font-size: 0.7em;
  font-weight: 200;
  color: #6d6d6d;
}

.powered-by-in-container a {
  font-size: 0.7em;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 55px;
  padding: 0 10px;
  border-top: 1px solid #cacaca;
  background: #fff;
  /* justify-content: center; */
  /* border-radius: 0px 0px 15px 15px; */
}

.typing-bar {
  padding: 5px;
  background: #fff;
  margin: 0 10px;
  display: flex;
  flex-grow: 1;
}
.typing-bar input {
  display: flex;
  flex-grow: 1;
  border: none;
  outline: none;
  /* font-family: botplatform-font, "Helvetica Neue", Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
}

.send-icon {
  outline: none;
  border: none;
  background-color: transparent;
}
.send-icon,
.mic-icon,
.hamburger-menu {
  fill: #868686;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  cursor: pointer;
}

.send-icon:hover,
.mic-icon:hover,
.hamburger-menu :hover {
  fill: black;
}
