.text-message {
    max-width: 74%;
    padding: 8px 14px;
    line-height: 19px;
    font-size: var(--fontSize);
    border-radius: var(--textMessageBorder);
    background: var(--textMessageBackground);
    border: none;
    color: var(--textMessageColor);
    text-align: left;
    -webkit-font-smoothing: antialiased;
    min-height: 20px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    margin: 0px 0 0 0;
  }