/* powerd by  */

.powerd-by {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid rgba(172, 172, 172, 0.246);
  background-color: #f9f9f9;
  border-radius: 0px 0px 10px 10px;
  padding: 0 10px;
  height: 30px;
  /* opacity: 0.5; */
}

.branding {
  /* margin-top: 2px; */
  padding: 0 5px;
  flex-grow: 1;
}

.branding span {
  font-size: 0.7em;
  font-weight: 200;
  color: #6d6d6d;
}

.branding a {
  font-size: 0.7em;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
}

/* .powerd-by p span{
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    color: #959595 !important;
    text-shadow: 0 2px 0 rgb(255 255 255);
    font-weight: 500;
  } */

.home-button {
  padding: 0px 7px;
  cursor: pointer;
  fill: #6d6d6d;
  font-weight: 100;
}

.home-button:hover {
  fill: #000000;
  opacity: 1;
  /* font-size: large; */
}
