/* powerd by  */

.powerd-by {
  border-top: 1px solid rgba(172, 172, 172, 0.246);
  background-color: #f9f9f9;
  padding-top: 3px;
  display: flex;
  justify-content: space-between;
  border-radius: 0px 0px 15px 20px;
  /* opacity: 0.5; */
}

.powerd-by p {
  margin-top: 2px;
  font-size: 0.8em;
  font-weight: 500;
  padding: 0px 10px 1px 15px;
}

.powerd-by p a {
  text-decoration: none;
  color: #6d6d6d;
}

/* .powerd-by p span{
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    color: #959595 !important;
    text-shadow: 0 2px 0 rgb(255 255 255);
    font-weight: 500;
  } */

.powerd-by button {
  font-size: 1.1em;
}

.home-button {
  /* position: absolute;  */
  /* right: 10px; */
  margin-right: 25px;
  /* padding: 1px  0 0 0; */
  border: none;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  cursor: pointer;
  outline: none;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 100;
}

.home-button:hover,
.powerd-by p a:hover {
  color: #000000;
  opacity: 1;
  /* font-size: large; */
}
