* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* background-color: rgb(0, 0, 0); */
}

.App {
  /* text-align: center; */
  /* position: fixed; */
}

.bot {
  /* position: absolute;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
  bottom: 5%;
  left: 90%; */
}
